/* Classe personnalisée pour le logo */
.logo {
	margin-bottom: 10px;
	width: 200px;
	padding: 20px;
	border-radius: 100%;
	background-color: #0172ad;
}

/* Styles pour que l'élément principal de la page prenne toute la hauteur disponible */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}
